.banner-container {
    /* height: 95vh; */
    /* text-align: initial; */
    /* background-color: antiquewhite; */
    width: 100%;
    cursor: pointer;
    
}

.banner_hero_img {
    width: 85%;
    height: 85vh;
    object-fit: cover;
}